.service-dependency-graph-panel .suggestion {
    width: 100%;
    border-right: 1px solid #3865AB ;
    border-left: 1px solid #3865AB ;
    background-color: #0B0C0E;
    padding-left: 10px;
}

.service-dependency-graph-panel ul {
    list-style-type: none;
}

.service-dependency-graph-panel ul:last-child {
    border-bottom: 1px solid #3865AB ;
}
