<div class="clock-panel" ng-style="{height: ctrl.height}">

    <div class="zoom-button-container">
        <button class="btn navbar-button" ng-click="ctrl.zoom(+1)"><i class="fa fa-plus"></i></button>
        <button class="btn navbar-button" ng-click="ctrl.zoom(-1)"><i class="fa fa-minus"></i></button>
    </div>

    <div class="vizceral" id="nt-sdg-container" ng-show="ctrl.dataAvailable()" style="width: 100%; height: 100%"></div>

    <div class="noData" ng-show="!ctrl.dataAvailable()">No data to show - the query returned no data.</div>

</div>