.service-dependency-graph-panel .margin {
    margin: 10px;
}

.service-dependency-graph-panel .statistics {
    flex-basis: 0;
    transition: flex-basis 500ms ease-in-out;
    overflow-y: scroll;
}

.service-dependency-graph-panel .statistics.show {
  flex-basis: 30rem;
  padding-left: 0.5%;
}
