.service-dependency-graph-panel .graph-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.service-dependency-graph-panel .canvas-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.service-dependency-graph-panel .zoom-button-container {
    position: absolute;
    top: 0;
    right: 1rem;
    z-index: 99;
}
