.graph-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.canvas-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.zoom-button-container {
    position: absolute;
    top: 0;
    right: 1rem;
    z-index: 99;
  }
  